<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

  <div class="w3-auto">

    <div class="w3-container w3-card w3-indigo">
      <h1>White Hat Store</h1>
    </div>

    <div class="w3-container">
      <h3>Hello There</h3>
      <p>Welcome to our store .</p>
      <p> You can look at our products with the next button .</p>
      <div class="w3-container w3-xlarge"> <p><button class="w3-button w3-circle w3-red" (click)="onProducts()">Our Products</button></p></div>
      <div class="w3-container w3-blue"><h2>Enjoy the store.</h2></div>
    </div>

  </div>

</body>
</html>
